{{ $code := .Get "code" }}
{{ $text := .Get "text" | default "Support via PayPal" }}
<form action="https://www.paypal.com/donate" method="post" target="_top" style="display: block; width: 100%; margin-bottom: 0;">
  <input type="hidden" name="hosted_button_id" value="{{ $code }}" />
  <button type="submit"
     title="Donate with PayPal"
     aria-label="Donate with PayPal"
     class="donation-btn"
     style="width: 100%;">
    <svg height="27" width="27" viewBox="0 0 512 512" fill="currentColor" style="margin-left: -4px; margin-right: 1px; display: block;" aria-hidden="true">
      <path d="M374.6 173.4c0 61.3-54 109.9-145.6 109.9h-26.7l-20.5 89.6h-64.3l62.8-283h106.6C343.5 89.8 374.6 125.5 374.6 173.4zM307.1 175.2c0-25.7-21.2-32.5-45.8-32.5h-28.4l-18.8 84.8h25.3C276.1 227.5 307.1 213 307.1 175.2zM393.1 161.4c12.2 95.9-78.6 145.2-173.4 143.8l-20.7 88.1h-44.6l-5 22.8h68.8l19.9-87.9C376.8 324 430.1 222.9 393.1 161.4z" />
    </svg>
    <span>{{ $text }}</span>
  </button>
</form>
